<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>
<div class="container">
  <div class="row">
    <% @entries.each do |entry| %>
      <div class="col-md-4 col-sm-6 mb-4 text-center"> 
        <% if entry.uploaded_image.attached? %>
          <%= image_tag(entry.uploaded_image, class: "img-fluid square-img") %>
        <% else %>
          <img src="<%= entry["image"] %>" class="img-fluid square-img">
        <% end %>
        <h3><%= entry["title"] %></h3>
        <h4><%= entry["occurred_on"] %></h4>
        <p><%= entry["description"] %></p>
      </div>
    <% end %>
  </div>
</div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">Create a New Entry</a>
</p>

<p>
  <a href="/places" class="btn btn-secondary">Back to All Places</a>
</p>
