<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>
<div class="container">
  <div class="row">
    <% @entries.each do |entry| %>
      <div class="col-md-4 col-sm-6 mb-4"> <!-- Grid settings for different screen sizes -->
          <h3 class="card-title"><%= entry["title"] %></h3>
          <h4 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h4>
          <div class="card-body">
            <p class="card-text"><%= entry["description"] %></p>
            <% if entry.uploaded_image.attached? %>
              <%= image_tag(entry.uploaded_image, class: "card-img-top img-fluid") %> 
            <% else %>
              <img src="<%= entry["image"] %>" class="card-img-top img-fluid"> 
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a> 
</p>

<p>
  <a href="/places" class="btn btn-secondary">Back to All Places</a> 
</p>
